.gallery {
  max-width: 1184px;
  margin: 0 auto;
}

.gallery__grid {
  padding: 0;
  margin: 0 auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}

.gallery__item {
  list-style: none;
}

.gallery__img {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .gallery {
    max-width: 900px;
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .gallery {
    max-width: 720px;
    padding-bottom: 62px;
  }
}

@media screen and (max-width: 720px) {
  .gallery {
    min-width: 600px;
  }

  .gallery__item {
    min-width: 288px;
  }
}

@media (max-width: 600px) {
  .gallery {
    min-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .gallery__grid {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}
