.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
  margin: 0 auto;
  background-color: #2a2c2f;
}

@media screen and (max-width: 600px) {
  .header {
    padding-top: 20px;
  }
}
