.places {
  max-width: 984px;
  margin-top: 12px;
  color: white;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.places__container {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 40px 48px;
  grid-template-areas:
    "title website"
    "image description"
    "button .";
}

.places__container:last-child {
  padding-bottom: 92px;
}

.places__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 0;
  grid-area: title;
}

.places__website {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: end;
  justify-content: flex-start;
  grid-area: website;
  margin: 0;
  padding: 0;
}

.places__website-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
}

.places__website-artist {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.places__image {
  width: 100%;
  height: 100%;
  grid-area: image;
}

.places__description {
  min-width: 484px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 0;
  line-height: 29px;
  margin-top: 0;
  grid-area: description;
}

.places__description:last-child {
  margin-bottom: 0;
}

.places__text:first-of-type {
  padding-top: 0;
}

.places__text {
  margin: 0;
  padding-top: 25px;
}

.places__button {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-decoration: none;
  text-align: center;
  background: #0278fe;
  border-radius: 4px;
  padding: 13px 20px;
  width: max-content;
  height: max-content;
  border-style: none;
  margin-top: 8px;
  max-width: 248px;
}

.places__button:hover {
  background: #0063d2;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 900px;
  }

  .places__description {
    min-width: auto;
  }

  .places__website {
    max-width: fit-content;
  }
}

@media screen and (max-width: 960px) {
  .places {
    max-width: 720px;
  }

  .places__container {
    grid-template-columns: 340px 1fr;
    grid-gap: 46px 28px;
    grid-template-areas:
      "title website"
      "image description"
      "button description"
      ". description";
    padding-bottom: 50px;
  }

  .places__title {
    font-size: 42px;
    line-height: 46px;
    margin-top: 26px;
  }

  .places__website {
    font-size: 12px;
    line-height: 15px;
    max-width: 348px;
  }

  .places__image {
    max-width: 340px;
    max-height: 340px;
  }

  .places__description {
    font-size: 16px;
    line-height: 26px;
  }

  .places__button {
    margin-top: 0;
  }
}

@media screen and (max-width: 720px) {
  .places__website {
    max-width: fit-content;
  }

  .places__description {
    min-width: 200px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 600px) {
  .places__container {
    display: block;
  }

  .places__container:last-child {
    padding-bottom: 64px;
  }

  .places__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 16px;
  }

  .places__website {
    padding-bottom: 30px;
    margin-left: 16px;
  }

  .places__image {
    min-width: 320px;
    margin-bottom: 30px;
    max-width: 100%;
    max-height: 100%;
  }

  .places__description {
    min-width: 288px;
    margin-bottom: 30px;
  }

  .places__button {
    display: block;
    max-width: 288px;
    margin-top: 30px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 360px) {
  .places__container {
    padding-bottom: 0;
  }

  .places__container:last-child {
    padding-bottom: 64px;
  }

  .places__title {
    max-width: 288px;
  }

  .places__website-title {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .places__image {
    margin: 0 auto;
  }

  .places__description {
    margin-top: 30px;
  }

  .places__button {
    padding: 13px 40px;
  }
}
