.cover__item {
  min-height: 740px;
  width: 100%;
  font-weight: normal;
  font-style: normal;
  color: white;
  box-sizing: border-box;
  background-image: url(../../images/cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.cover__item::before {
  content: "";
  background: #2a2c2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  z-index: -1;
}

.cover__item:hover::before {
  opacity: 0.8;
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 0;
  margin-top: 243px;
  z-index: 2;
}

.cover__address {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  min-width: 280px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 0;
  opacity: 1;

}

.cover__button {
  background: #0278fe;
  border-radius: 4px;
  padding: 13px 20px;
  border-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: white;
  width: 137px;
  margin: auto;
  margin-top: 32px;
  opacity: 1;
  text-align: center;
}

.cover__button:hover {
  background: #0063d2;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .cover__item {
    width: 100%;
    margin: 0 auto;
  }

  .cover__title {
    margin-top: 246px;
  }
}

@media screen and (max-width: 600px) {
  .cover__item {
    min-width: 320px;
    min-height: 245px;
  }

  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-top: 46px;
    margin: auto;
    padding-top: 46px;
  }

  .cover__address {
    /* white-space:pre; */
text-align:center;
    font-weight: 400;
    font-size: 14px;
    
  }

  .cover__button {
    margin-bottom: 45px;
  }

  .footer__copyright {
    margin-top: 64px;
  }
}
