a {
  color: white;
  text-decoration: none;
}

.button {
    background: #0278fe;
    border-radius: 4px;
    padding: 13px 20px;
    width: max-content;
    height: max-content;
    border-style: none;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin-top: 61px;
    text-align: center;
  }

  .button:hover {
    background: #0063D2;
    cursor: pointer;
  }

  @media screen and (max-width: 9600px) {
  .button {
margin-top: 0;
  }
  }

  @media screen and (max-width: 600px) {
    .button {
      max-width: 288px;
        margin-top: 30px;
        margin: 0 auto;
       }
    }
